<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<!-- content -->
<div layout:fragment="content">
    <style>
        #side .sideMenu li.sideMenuChat a {background: #F5F5F5;}
        .mainContent {display: flex; flex-direction: column; height: 100vh; overflow: auto;}
        .content {flex: 1;display: flex; flex-direction: column;  padding: 0; overflow: auto;}

    </style>

    <div id="chatContainer">
        <div id="chatListWrap">
            <div class="contentTitle">
                <div class="title">채팅방목록</div>
                <a th:href="@{/chat/register}"><img th:src="@{/images/plus.svg}"></a>
            </div>
            <ul class="chatList">
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery1.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery2.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery2.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery4.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery5.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery6.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery7.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery8.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery9.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/read}">
                        <div class="thumb"><img th:src="@{/images/test/gallery10.jpg}"></div>
                        <div class="info">
                            <div class="chatTitle">
                                <div class="title">한강공원 산책<span>3</span></div>
                                <div class="date">2020.20.20</div>
                            </div>
                            <p>오늘 오후 7시까지 한강에서 만나요</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div id="chatViewWrap">
            <div class="contentTitle">
                <div class="title">한강공원 산책 멤버<span>4</span></div>
                <a th:href="@{/chat/register}"><img th:src="@{/images/plus.svg}"></a>
            </div>
            <div class="chatView">
                <ul class="chat-inner">
                    <div class="message-box">
                        <div class="thumb"><img th:src="@{/images/test/gallery1.jpg}"></div>
                        <div class="user">Busanit501</div>
                        <p>우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? </p>
                    </div>
                    <div class="message-box">
                        <div class="thumb"><img th:src="@{/images/test/gallery2.jpg}"></div>
                        <div class="user">Busanit501</div>
                        <p>7시까지 시민공원에서 만나요</p>
                    </div>
                    <div class="message-box sand-message-box">
                        <div class="thumb"><img th:src="@{/images/test/gallery10.jpg}"></div>
                        <div class="user">Busanit501</div>
                        <p>네</p>
                    </div>
                    <div class="message-box">
                        <div class="thumb"><img th:src="@{/images/test/gallery4.jpg}"></div>
                        <div class="user">Busanit501</div>
                        <p>네~~</p>
                    </div>
                    <div class="message-box">
                        <div class="thumb"><img th:src="@{/images/test/gallery1.jpg}"></div>
                        <div class="user">Busanit501</div>
                        <p>우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? </p>
                    </div>
                    <div class="message-box">
                        <div class="thumb"><img th:src="@{/images/test/gallery1.jpg}"></div>
                        <div class="user">Busanit501</div>
                        <p>우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? 우리 어디에서 만나요? </p>
                    </div>
                </ul>
                <div class="sandbox">
                    <input type="text" name="" id="">
                    <button id="sandMessageBtn">
                        <img th:src="@{/images/arrow_up_white.svg}"></img>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- content -->


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">

</script>
<!-- javascript -->


</body>
</html>