<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<!-- content -->
<div layout:fragment="content">
    <div class="communitiesContent contentContainer">
        <div class="communitiesListWrap">
            <div class="communitiesListTop">
                <ul class="filter">
                    <li class="on">전체</li>
                </ul>
                <a th:href="@{/communities/register}" class="btn-normal">글작성</a>
            </div>
            <table class="communitiesList">
                <thead>
                <tr>
                    <th><div>번호</div></th>
                    <th style="width: 50%;"><div>제목</div></th>
                    <th><div>작성자</div></th>
                    <th><div>조회</div></th>
                    <th><div>작성일</div></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text num"><div><div>645</div></div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">차량용 거치대+충전기용으로 신지모루 맥세이프? 이거 살만할까요 ?</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div><div>644</div></div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">원래 냉각수 게이지4칸이었는데 최근에5칸됬는데</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>643</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">중국차 들어오면 잘팔릴거 같은데</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>642</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">고속도로 휴게소 근무 빡세다던데</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>641</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">모델y 신형 떴냐???????????</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>640</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">구형 팰리 '가솔린'만 할인 해준다 살 사람은 사라</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>639</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">엔카로 중고차팔려는데</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>638</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">당근 33000원에 구매완 ㅋㅋ</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>637</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">폭스바겐은 그냥 싼마이차임 ㅇㅇ</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>636</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">새로나오는 BMW 음성인식 ㅋㅋㅋㅋ</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div><div>645</div></div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">차량용 거치대+충전기용으로 신지모루 맥세이프? 이거 살만할까요 ?</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div><div>644</div></div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">원래 냉각수 게이지4칸이었는데 최근에5칸됬는데</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>643</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">중국차 들어오면 잘팔릴거 같은데</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>642</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">고속도로 휴게소 근무 빡세다던데</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>641</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">모델y 신형 떴냐???????????</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>640</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">구형 팰리 '가솔린'만 할인 해준다 살 사람은 사라</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>639</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">엔카로 중고차팔려는데</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>638</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">당근 33000원에 구매완 ㅋㅋ</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>637</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">폭스바겐은 그냥 싼마이차임 ㅇㅇ</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                <tr>
                    <td class="text num"><div>636</div></td>
                    <td class="title">
                        <a th:href="@{/communities/read}">새로나오는 BMW 음성인식 ㅋㅋㅋㅋ</a></td>
                    <td class="text"><div>busanit501</div></td>
                    <td class="text"><div>651</div></td>
                    <td class="text"><div>2020.20.20</div></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <ul>
                <li class="page-item active">
                    <a class="page-link">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link">2</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- content -->


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">

</script>
<!-- javascript -->


</body>
</html>