<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<head>
    <script th:src="@{/js/communities.js}"></script>
</head>
<body>
<!-- content -->
<div layout:fragment="content">
    <div id="communitiesReadContainer" class="readContainer">
        <div class="readHead">
            <a class="back" th:href="@{/communities/list}">
                <img th:src="@{/images/left_arrow.svg}">
            </a>
            <a class="update" th:if="${community.member.mid == loggedInUserId}" th:href="@{'/communities/update/' + ${community.communityId}}">수정하기</a>
        </div>

        <div class="imgContainer">
            <div class="img">
                <img th:if="${community.imageUrl}" th:src="${community.imageUrl}" class="img-fluid rounded" alt="첨부 이미지">
            </div>
        </div>

        <div class="readContent">
            <div class="tag">
                <div th:text="${community.category}"></div>
                <div th:text="${#temporals.format(community.regDate, 'yyyy.MM.dd')}"></div>
            </div>
            <h2 class="title" th:text="${community.title}">게시글 제목</h2>
            <div class="txtContainer" th:text="${community.content}">게시글 내용</div>
        </div>



        <div class="comment">
            <!-- 로그인된 사용자의 memberId를 숨겨서 전달 -->
            <input type="hidden" id="loggedInMemberId" th:value="${loggedInUserId}">

            <form id="commentForm" class="commentForm">
                <input type="hidden" name="communityId" th:value="${community.communityId}">
                <textarea type="text" name="content" placeholder="댓글을 입력하세요" required></textarea>
                <button type="submit" class="btn btn-dark">댓글 등록</button>
            </form>

            <!-- 댓글 목록 -->
            <div class="commentList">
                <div th:if="${#lists.isEmpty(comments)}">
                    <p class="text-center py-4 text-muted">아직 댓글이 없습니다. 첫 번째 댓글을 남겨보세요!</p>
                </div>
                <ul>
                    <li th:each="comment : ${comments}">
                        <div class="comment-info">
                            <div class="user" th:text="${comment.memberId}">작성자 ID</div>
                            <span th:text="${#temporals.format(comment.created_at, 'yyyy.MM.dd')}"></span>
                        </div>
                        <div class="comment-content" th:text="${comment.content}" th:id="'comment-content-' + ${comment.commentsId}"></div>
                        <div class="comment-btn" th:if="${comment.memberId == loggedInUserId}">
                            <button class="btn btn-gray" th:data-comments-id="${comment.commentsId}" th:data-comment-content="${comment.content}" onclick="handleUpdate(this)">수정</button>
                            <button class="btn btn-dark" th:onclick="'deleteComment(' + ${comment.commentsId} + ')'">삭제</button>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 페이징 버튼 -->
            <div class="pagination">
                <ul>
                    <!-- 이전 버튼 -->
                    <li class="page-item" th:classappend="${!prev} ? 'disabled'">
                        <a class="page-link" th:href="@{|/communities/${community.communityId}?page=${page - 1}|}" aria-label="Previous">이전</a>
                    </li>

                    <!-- 페이지 번호 -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(start, end)}" th:classappend="${i == page} ? 'active'">
                        <a class="page-link" th:href="@{'/communities/' + ${community.communityId} + '?page=' + ${i}}" th:text="${i}"></a>
                    </li>

                    <!-- 다음 버튼 -->
                    <li class="page-item" th:classappend="${!next} ? 'disabled'">
                        <a class="page-link" th:href="@{|/communities/${community.communityId}?page=${page + 1}|}" aria-label="Next">다음</a>
                    </li>
                </ul>
            </div>

        </div>


    </div>
    <!-- Flash 메시지 표시 -->
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>


</div>

<script src="/js/comments.js" defer></script>


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">

</script>
<!-- javascript -->


</body>
</html>