<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<!-- content -->
<div layout:fragment="content">
    <style>
        #side .sideMenu li.sideMenuCalendar a {background: #F5F5F5;}
        .mainContent {display: flex; flex-direction: column; height: 100vh; overflow: auto;}
        .content {flex: 1;display: flex; flex-direction: column;  padding: 0; overflow: auto;}
    </style>

    <div id="calendarContainer" class="contentContainer">
        <div class="calendar-header">
            <h1 class="year">2025</h1>
            <button class="btn-normal">오늘</button>
            <a class="calendarRegister" th:href="@{/calendar/register}">
                <img th:src="@{/images/plus.svg}">
            </a>
        </div>
        <div class="calendar-board">
            <div class="month-wrap">
                <div class="month">12월</div>
                <div class="days-wrap">
                    <ul class="days week">
                        <li>SUN</li>
                        <li>MON</li>
                        <li>TUE</li>
                        <li>WED</li>
                        <li>THU</li>
                        <li>FRI</li>
                        <li>SAT</li>
                    </ul>
                    <ul class="days">
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">1</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">2</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">3</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">4</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">5</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">6</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">7</div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">8</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">9</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">10</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">11</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">12</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">13</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div><div class="schedule">
                                <div class="title">평일 오후 한강공원에서 만나요</div>
                                <div class="time">19:00</div>
                            </div><div class="schedule">
                                <div class="title">평일 오후 한강공원에서 만나요</div>
                                <div class="time">19:00</div>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">14</div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">15</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">16</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">17</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">18</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">19</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">20</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">21</div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">22</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">23</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">24</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">25</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">26</div>

                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">27</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">28</div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">29</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">30</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">31</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">1</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">2</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">3</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">4</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="month-wrap">
                <div class="month">1월</div>
                <div class="days-wrap">
                    <ul class="days week">
                        <li>SUN</li>
                        <li>MON</li>
                        <li>TUE</li>
                        <li>WED</li>
                        <li>THU</li>
                        <li>FRI</li>
                        <li>SAT</li>
                    </ul>
                    <ul class="days">
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">1</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">2</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">3</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">4</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">5</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">6</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">7</div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">8</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">9</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">10</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">11</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">12</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">13</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div><div class="schedule">
                                <div class="title">평일 오후 한강공원에서 만나요</div>
                                <div class="time">19:00</div>
                            </div><div class="schedule">
                                <div class="title">평일 오후 한강공원에서 만나요</div>
                                <div class="time">19:00</div>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">14</div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">15</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">16</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">17</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">18</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">19</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">20</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">21</div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">22</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">23</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">24</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">25</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">26</div>

                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">27</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">28</div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">29</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">30</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">31</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li class="holiday">
                            <a th:href="@{/calendar/read}">
                                <div class="tag">1</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">2</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">3</div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/calendar/read}">
                                <div class="tag">4</div>
                                <div class="schedule">
                                    <div class="title">평일 오후 한강공원에서 만나요</div>
                                    <div class="time">19:00</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">

</script>
<!-- javascript -->


</body>
</html>