<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<head>
    <meta charset="UTF-8">
    <title>산책 일정</title>
    <link rel="stylesheet" th:href="@{/css/calendarcss.css}">
</head>
<body>
<div layout:fragment="content">
    <!-- 캘린더 -------------------------------->
    <div id="calendar-container" class="container-fluid">
        <div id="calendar"></div>
    </div>

    <div id="contextMenu">
        <a href="#" id="addEvent">일정 추가</a>
    </div>


    <!-- 모달 열기 버튼 (모달 외부) -->
    <!--    <button onclick="openModal()">일정 추가</button>-->
    <!-- Modal -->
    <div id="scheduleModal" class="custom-modal">
        <div class="custom-modal-content ">
            <div class="custom-modal-header">
                <h5>일정</h5>
                <button type="button" id="closeModal" class="close-button">&times;</button>
            </div>
            <div class="custom-modal-body">
                <p><strong>매칭명:</strong> <span id="modalTitle"></span></p>
                <p><strong>날짜:</strong> <span id="modalDate"></span></p>
                <p><strong>시간:</strong> <span id="modalTime"></span></p>
                <p><strong>장소:</strong> <span id="modalPlace"></span></p>
                <p style="display:none"><strong>매칭:</strong> <span id="modalMatching"></span></p>
            </div>
            <div class="custom-modal-footer">
                <button type="button" id="closeModalFooter" class="close-button">닫기</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="scheduleaddModal" class="custom-add-modal" style="display: none;">
        <div class="custom-addmodal-content">
            <div class="custom-addmodal-header">
                <h5>일정 추가</h5>
                <button type="button" id="closeaddModal" class="close-button">&times;</button>
            </div>
            <div class="custom-addmodal-body">
                <form id="scheduleForm">
                    <div>
                        <label for="addmodalTitle">일정 제목</label>
                        <input type="text" id="addmodalTitle" name="schedulename" placeholder="일정 제목을 입력하세요" required>
                    </div>
                    <div>
                        <label for="modalStartDate">시작 날짜</label>
                        <input type="date" id="modalStartDate" name="schedulStart" required>
                    </div>
                    <div>
                        <label for="modalEndDate">끝 날짜</label>
                        <input type="date" id="modalEndDate" name="schedulEnd" required>
                    </div>
                    <div>
                        <label for="addmodalTime">시간</label>
                        <!--                        <input type="time" id="addmodalTime" name="walkTime" required>-->
                        <input type="text" id="addmodalTime" name="walkTime" placeholder="예: 10:00" required>
                    </div>
                    <div>
                        <label for="addmodalPlace">장소</label>
                        <input type="text" id="addmodalPlace" name="walkPlace" placeholder="장소를 입력하세요" required>
                    </div>
                </form>
            </div>
            <div class="custom-modal-footer">
                <button type="button" id="closeaddModalFooter" class="close-button">닫기</button>
                <button type="button" id="saveEvent" class="save-button" onclick={handleClickAddSchedule()}>저장</button>
            </div>
        </div>
    </div>


    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>-->
    <!--    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>-->
    <!--    <script src="/js/schedule.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script src="/js/schedule.js"></script>

    <script>
        let startDate = "";
        let endDate = "";

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                navLinks: true,
                businessHours: true,
                editable: true,
                selectable: true,
                selectMirror: true,
                events: async function (fetchInfo, successCallback, failureCallback) {
                    const mid = getCurrentUserMid();
                    console.log(mid)
                    const schedules = await getUserSchedules(mid);
                    console.log(schedules)
                    successCallback(schedules);
                },
                // 날짜 선택 시 선택된 날짜 저장
                select: function (info) {
                    startDate = info.startStr; // 선택된 시작 날짜 저장
                    endDate = info.endStr; // 선택된 끝 날짜 저장
                },
                eventClick: function (info) { // info는 eventClick 핸들러에서 제공되는 객체
                    // const walkDate = info.extendedProps.matching ? `${info.event.start} ~ ${info.event.extendedProps.end}` : info.event.start;
                    //
                    const eventDetails = {
                        schedulename: info.event.title,  // 이벤트 제목 (예: 산책 이름)
                        // walkDate: info.event.start, // 추가된 날짜 정보
                        startDate: info.event.start,
                        endDate: info.event.end,
                        walkTime: info.event.extendedProps.time,  // 시간 정보
                        place: info.event.extendedProps.place,  // 장소 정보
                        matching: info.event.extendedProps.matching

                    };
                    // console.log("이벤트디테일 확인",eventDetails);
                    displayEventDetails(eventDetails);
                }
            });
            calendar.render();


            document.getElementById('addEvent').addEventListener('click', function () {
                // addSchedule();
                openModal({startDate, endDate});
            });

            document.getElementById('closeModal').addEventListener('click', function () {
                document.getElementById('scheduleModal').style.display = 'none';
            });

            document.getElementById('closeModalFooter').addEventListener('click', function () {
                document.getElementById('scheduleModal').style.display = 'none';
            });

            document.getElementById('closeaddModal').addEventListener('click', () => {
                const modal = document.getElementById('scheduleaddModal');
                modal.style.display = 'none';
            });

            document.getElementById('closeaddModalFooter').addEventListener('click', () => {
                const modal = document.getElementById('scheduleaddModal');
                modal.style.display = 'none';
            });

            //-------------------------------------
            // 오른쪽 클릭 메뉴 표시
        })


        const contextMenu = document.querySelector("#contextMenu");

        window.addEventListener('contextmenu', function (event) {
            // if (selectedStartDate && selectedEndDate) {
            event.preventDefault(); // 기본 우클릭 메뉴 방지
            const x = event.clientX;
            const y = event.clientY;
            // clientX y는 로드됐을때 값만 가지고 있음
            const scrollX = window.scrollX;
            const scrollY = window.scrollY;
            // 스크롤ㄷ
            console.log(scrollY)

            contextMenu.style.left = x + 10 + scrollX + 'px';
            contextMenu.style.top = y + 10 + scrollY + 'px';
            //스크롤이 된값만큼 와이값을 더함
            contextMenu.style.display = 'block';


            // }
        });

        async function handleClickAddSchedule() {
            await addSchedule({startDate, endDate});
        }

    </script>

</div>
</body>
</html>
