<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<!-- content -->
<div layout:fragment="content">
    <div id="petReadContainer" class="readContainer">
        <div class="readHead">
            <a class="back" th:href="@{/hospital/list}">
                <img th:src="@{/images/left_arrow.svg}">
            </a>
            <a class="update" th:href="@{/hospital/update}">수정하기</a>
        </div>

        <div class="imgContainer">
            <div class="img">
                <img th:src="@{/images/test/hospital1.jpg}">
            </div>
        </div>

        <ul class="infoForm">
            <li>
                <div class="title">상호명</div>
                <p>부산아이티병원</p>
            </li>
            <li>
                <div class="title">운영시간</div>
                <p>00:00 ~ 24:00</p>
            </li>
            <li>
                <div class="title">전화번호</div>
                <p>010-0000-0000</p>
            </li>
            <li>
                <div class="title">장소</div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.537037233892!2d129.05481037635164!3d35.16816515798652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568eb41fdb8ba3d%3A0x7a2af1771124ab48!2z67aA7IKw7Iuc66-86rO17JuQ!5e0!3m2!1sko!2skr!4v1736415553884!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p>부산광역시 부산진구 시민공원로 73</p>
                </div>
            </li>
        </ul>


    </div>
</div>
<!-- content -->


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">

</script>
<!-- javascript -->


</body>
</html>