<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<!-- content -->
<div layout:fragment="content">
    <div class="registerContainer">
        <form action="/hospital/register" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">이미지</div>
                        <div>
                            <input type="file" name="files" id="uploadFiles" class="input" multiple>
                            <button type="button" class="btn btn-primary uploadBtn">업로드하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">상호명</div>
                        <div>
                            <input type="text" id="title" name="title" class="input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">주소</div>
                        <div>
                            <input type="text" name="place" id="place" class="input">
                            <button type="button" class="btn btn-primary uploadBtn">주소찾기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">전화번호</div>
                        <div>
                            <input type="text" id="phone" name="phone" class="input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">운영시작시간</div>
                        <div>
                            <input type="text" id="meetingTime" name="meetingTime" class="input">
                        </div>
                    </div>
                    <div class="input">
                        <div class="title">운영종료시간</div>
                        <div>
                            <input type="text" id="maxParticipants" name="maxParticipants" class="input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <a th:href="@{/hospital/list}" class="btn btn-gray">취소</a>
                <a th:href="@{/hospital/list}" class="btn btn-dark">등록</a>
<!--                <button type="submit" class="btn btn-dark submitBtn">작성</button>-->
            </div>
        </form>
    </div>
</div>
<!-- content -->


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">

</script>
<!-- javascript -->


</body>
</html>