<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">
    <div class="registerContainer">
        <form id="registerForm" method="post" action="/gallery/register">
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">이미지</div>
                        <div>
                            <input type="file" name="files" id="uploadFiles" class="input" multiple>
                            <button type="button" class="btn btn-primary uploadBtn">업로드하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <ul class="uploadResult"></ul>
            </div>
            <div class="form-group">
                <div class="uploadHidden">
                    <!-- 첨부한 이미지의 요소를 첨부할 예정. 서버 전달용이라서, -->
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">내용</div>
                        <div>
                            <textarea type="text" id="content" name="content" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" th:value="${user.Username}" class="form-control" id="writer" name="writer" readonly>

            <div class="btn-box">
                <a th:href="@{/gallery/list}" class="btn btn-gray">취소</a>
                <button type="submit" class="btn btn-dark submitBtn">작성</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>
</div>
<!--끝 나는 부분 layout:fragment="content"-->


<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">

    // 서버로부터, 인증 정보를 받기.
    const auth = [[${authentication}]]
    console.log("auth : " + auth)

    const auth2 = [[${user}]]
    console.log("auth2 : " + auth2)

    const auth3 = [[${user.Username}]]
    console.log("auth3 : " + auth3)

    // 유효성 체크 오류 발생시, alert 경고창 알려주기.
    // 서버에서 오류가 발생시, 전달한 키 : errors , 받아서, 처리하기.
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''
    if(errors) {
        for(let i = 0; i <errors.length; i++) {
            errorMsg += `${errors[i].field}는 ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    // 파일 업로드 작업
    // 순서1, 첨부 파일 업로드 모달창 띄우기.

    // 순서2,  첨부 파일 모달창에서, 파일 추가시 로직.
    document.querySelector(".uploadBtn").addEventListener("click",
        function (e){

            const formObj = new FormData();
            // input 태그에서 이름 files의 요소를 선택.
            const fileInput = document.querySelector("input[name='files']")

            console.log(fileInput.files)

            // 선택된 파일들에서, 파일 객체 뽑아서 전달해주기.
            for( let i = 0; i < fileInput.files.length; i++) {
                formObj.append("files", fileInput.files[i])
            }

            console.log("formObj " + formObj)

            // axios 이용해서, 비동기 통신 하기.
            uploadToServer(formObj).then(
                result => {
                    // console.log(result)
                    // 섬네일 이미지를 표시하는 부분에 추가.
                    // 함수를 만들어서, 출력하는 기능 추가.
                    //, result : 서버에 이미지 파일을 업로드 후,
                    // uuid_파일명 형식의 리스트
                    // uploadResult , 하나의 이미지 파일명을 의미.
                    for (const uploadResult of result) {
                        console.log("uploadResult : "+ uploadResult)
                        console.log("uploadResult.uuid : "+ uploadResult.uuid)
                        console.log("uploadResult.fileName : "+ uploadResult.fileName)
                        console.log("uploadResult.link : "+ uploadResult.link)
                        // showUploadFile , 임의의 함수
                        showUploadFile(uploadResult)
                    }
                }
            )
                .catch(e => {})
        },false)

    // 순서3
    // 섬네일 이미지를 출력하는 기능.showUploadFile
    // 결과 화면을 출력할 요소를 지정.
    const  uploadResult = document.querySelector(".uploadResult")
    function showUploadFile({uuid, fileName, link}) {
        const str = `
        <li class="card">
            <div class="uploadDelete" onclick="javascript:removeFile('${uuid}','${fileName}',this)"></div>
            <img src="/view/${link}" data-src="${uuid+"_"+fileName}">
        </li>
        `
        uploadResult.innerHTML += str
    }
    // 순서4,
    // 첨부된 이미지가 미리보기 화면에서, x 클릭식, 삭제되는 이벤트 처리 .
    function removeFile(uuid, fileName, obj) {
        console.log("uuid : " + uuid)
        console.log("fileName : " + fileName)
        console.log("obj : " + obj)

        // x , 삭제를 요청한 요소에서, 가장 가까운 카드 요소를 선택.
        // 버튼으로 부터 가장 가까운 카드 요소
        const targetDiv = obj.closest(".card")

        // 미디어 서버에서, 이미지가 삭제가 된다면,
        removeFileToServer(uuid,fileName).then(
            // 섬네일 미리보기 화면도(카드) 같이 제거.
            data => {targetDiv.remove()}
        )

    }

    //순서4-2, 글작성시, 폼 내부에서,
    // 기본 전송 버튼 이용해서, 문제가 발생해서, 분리. -> div 태그 안닫아서 문제였고 수정했음.
    // 첨부된 이미지를 , 서버에 전달하기.
    // 첨부된 이미지를 , 특정 요소에 숨겨서 , 글과 이미지를 같이 전달하기.
    document.querySelector(".submitBtn").addEventListener("click",
        function (e) {
            e.preventDefault()
            e.stopPropagation()

            // 기본 글작성 내용이랑, + 첨부된 이미지들도 다 같이 전송할 예정.
            // 첨부된 이미지는 innerHTML 이용해서, 레스트로 첨부를 할 예정.

            // 첨부 이미지의 파일들을 붙여 둘 공간
            const target = document.querySelector(".uploadHidden")
            // 모든 섬네일 이미지를 가리킴.
            const uploadFiles = uploadResult.querySelectorAll("img")

            // 첨부할 문자열, 태그를 저장할 변수 선언.
            let str = ''

            for(let i = 0; i < uploadFiles.length; i++) {
                const uploadFile = uploadFiles[i]
                const imgLink = uploadFile.getAttribute("data-src")
// 서버에서, BoardDTO에서, 받는 매개변수 , private List<String> fileNames;
                str += `<input type='hidden' name='fileNames' value="${imgLink}"/>`
            }
            target.innerHTML = str;

            document.querySelector("form#registerForm").submit();

        })


</script>


</body>
</html>