<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<!-- content -->
<div layout:fragment="content">
    <style>
        #side .sideMenu li.sideMenuProfile a {background: #F5F5F5;}
    </style>

    <div class="registerContainer">
        <form action="/pet/register" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">이미지</div>
                        <div>
                            <input type="file" name="files" id="uploadFiles" class="input" multiple>
                            <button type="button" class="btn btn-primary uploadBtn">업로드하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">이름</div>
                        <div>
                            <input type="text" name="name" id="name" class="input">
                            <div class="form-check">
                                <input  type="radio" id="male" name="gender" value="MALE" required class="form-check-input" checked="checked">
                                <label for="male" class="form-check-label">암컷</label>
                                <input type="radio" id="female" name="gender" value="FEMALE" class="form-check-input">
                                <label for="female" class="form-check-label">수컷</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">생년월일</div>
                        <div>
                            <input type="date" id="birth" name="birth" class="input">
                        </div>
                    </div>
                    <div class="input">
                        <div class="title">몸무게</div>
                        <div>
                            <input type="text" id="weight" name="weight" class="input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">품종</div>
                        <div>
                            <input type="text" id="verified" name="verified" class="input">
                            <button type="button" class="btn" id="petVerifiedBtn">등록</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input">
                        <div class="title">성격</div>
                        <div>
                            <textarea type="text" id="personality" name="personality" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <a th:href="@{/pet/list}" class="btn btn-gray">수정하기</a>
                <button type="submit" class="btn btn-dark submitBtn">삭제하기</button>
            </div>
        </form>
    </div>
</div>
<!-- content -->


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">

</script>
<!-- javascript -->


</body>
</html>