<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Togedog</title>

    <!-- css -->
    <!-- <link rel="stylesheet" th:href ="@{이동할 경로}"> -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"-->
<!--          crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/users.css}">


    <!-- js -->
    <!-- <script th:src="@{이동할 경로}"></script> -->
    <script th:src="@{/js/base.js}"></script>
</head>
<body>
<div id="wrap">
    <th:block th:if="${user} != null">
        <div id="side">
            <div class="logo"><a th:href="@{/home}"><img th:src="@{/images/logo.svg}"></a></div>
            <ul class="sideMenu">
                <li>
                    <a th:href="@{/gallery/list}">
                        <div class="icon"><div class="profile-img"></div></div>
                        <div class="txt">프로필</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/matching/list}">
                        <div class="icon"><img th:src="@{/images/matching.svg}" alt=""></div>
                        <div class="txt">메이트매칭</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/chat/list}">
                        <div class="icon"><img th:src="@{/images/chats.svg}" alt=""><span class="count">99</span></div>
                        <div class="txt">채팅</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/notifications/list}">
                        <div class="icon"><img th:src="@{/images/bell.svg}" alt=""><span class="count">2</span></div>
                        <div class="txt">알림</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/calendar/list}">
                        <div class="icon"><img th:src="@{/images/calendar.svg}" alt="" ></div>
                        <div class="txt" >산책일정 </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="icon"><img th:src="@{/images/gear.svg}" alt=""></div>
                        <div class="txt">설정</div>
                    </a>
                </li>
            </ul>
        </div>
    </th:block>
    <div class="mainContent">
        <header id="header">
            <div class="logo" th:if="${user} == null"><a th:href="@{/home}"><img th:src="@{/images/logo.svg}"></a></div>
            <th:block th:if="${user} != null">
                <form action="" method="get">
                    <div class="search">
                        <button type="submit" class="searchBtn"><img th:src="@{/images/search_bold.svg}"></button>
                        <input type="text" name="" id="" placeholder="산책메이트">
                    </div>
                </form>
            </th:block>
            <ul class="headMenu">
                <li><a th:href="@{/hospital/list}">동물병원</a></li>
                <li><a th:href="@{/share/list}">중고나눔</a></li>
                <li><a th:href="@{/communities/list}">커뮤니티</a></li>
            </ul>
            <ul class="headMember">
                <!-- 로그아웃 -->
                <th:block th:if="${user} == null">
                    <li class="headSignup"><a th:href="@{/member/signup}">회원가입</a></li>
                    <li class="headLogin"><a th:href="@{/member/login}">로그인</a></li>
                </th:block>
                <!-- 로그인 -->
                <th:block th:if="${user} != null">
                    <li><a><img th:src="@{/images/message_bold.svg}"><span class="count">6</span></a></li>
                    <li><a><img th:src="@{/images/bell_bold.svg}"><span class="count">99+</span></a></li>
                    <li class="headProfile">
                        <button class="headProfileBtn" onclick="headProfileClick()">
                            <span>[[${user.Username}]]</span>님
                            <span class="icon"><img th:src="@{/images/arrow_down_bold.svg}"></span>
                        </button>
                        <div class="profileOption" onmouseleave="headProfileOption()">
                            <ul>
                                <li><a th:href="@{/gallery/list}">내프로필</a></li>
                                <li><a>설정</a></li>
                                <li><a th:href="@{/member/logout}">로그아웃</a></li>
                            </ul>
                        </div>
                    </li>
                </th:block>
            </ul>
        </header>

        <th:block th:if="${user} != null">
            Username<br>

            [[${user}]]
        </th:block>

        <div class="content" layout:fragment="content">
            <!-- content 영역 -->
        </div>
    </div>
</div>


<!--====================================================================================================-->
<!--====================================================================================================-->
<div class="collapse navbar-collapse " id="navbarTogglerDemo02">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 " >
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/board/register">글작성</a>
        </li>
        <!--    로그인한 유저를 표시 해보기-->
        <li class="nav-item" th:if="${user} != null">
            <a class="nav-link" href="#">[[${user.Username}]]님환영합니다.</a>
        </li>
        <!--    로그인시 로그아웃 표시 해보기-->
        <li class="nav-item" th:if="${user} != null">
            <a class="nav-link" href="/member/logout">로그아웃</a>
        </li>

        <!--    로그인시 권한별로 어드민 페이지 표시 해보기-->
        <!--                                    타임리프의 기능 중에 sec 접두어, 기능 따로 도구를 설치-->
        <li class="nav-item"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <a class="nav-link" href="#" >관리자페이지</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="#"></a>
        </li>

    </ul>
</div>
<!--====================================================================================================-->
<!--====================================================================================================-->

<!--우리가 정의 js 파일 경로-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<th:block layout:fragment="javascript">

</th:block>
<script>
    const headProfile = document.querySelector(".headProfile");
    function headProfileClick() {
        headProfile.classList.toggle('active');
    }
    function headProfileOption() {
        headProfile.classList.remove('active');
    }

    function verticalClick() {
        this.closest(".vertical").classList.toggle('active');
    }
    function verticalOption() {
        this.closest(".vertical").classList.remove('active');
    }
</script>
<!--jQuery 추가-->


</body>
</html>












