<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<!-- content -->
<div layout:fragment="content">
    <style>
        #side .sideMenu li.sideMenuProfile a {background: #F5F5F5;}
    </style>

    <div class="profile">
        <div class="profile-image img"></div>
        <div class="profile-info">
            <div class="info-top">
<!--                <div class="manner">매너지수<span></span></div>-->
                <button class="contact">메시지보내기</button>
                <div class="vertical">
                    <button class="verticalBtn" onclick="verticalClick.call(this)"><img th:src="@{/images/vertical_icon.svg}"></button>
                    <div class="verticalOption" onmouseleave="verticalOption.call(this)">
                        <ul>
                            <li><a th:href="@{/member/modify}">정보수정</a></li>
                            <li><a>신고하기</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profileUser">busanit501</div>
            <div class="profileText">강아지 두 마리 키우고 있어요. 비비랑 씨씨를 키우고 있어요. <br>우리 애들은 안물어요. 걱정 마세요. <br>작업해야함.</div>
            <ul class="myPetProfile">
                <li>
                    <a>
                        <div class="thumb img">
                            <img class="verified" th:src="@{/images/verified.svg}">
                        </div>
                        <div class="name">비비</div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="thumb img"></div>
                        <div class="name">씨씨</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profileContent contentContainer">
        <ul class="profileTap">
            <li>
                <button id="galleryListBtn">게시물<span class="count">43</span>
                    <a th:href="@{/gallery/register}"><img th:src="@{/images/plus.svg}"></a>
                </button>
            </li>
            <li class="on">
                <button id="petListBtn">반려동물<span class="count">2</span>
                    <a th:href="@{/pets/register}"><img th:src="@{/images/plus.svg}"></a>
                </button>
            </li>
        </ul>

        <div id="pet">
            <ul>
                <li th:each="dto:${responseDTO.dtoList}">
                    <a class="thumb img" th:href="|@{/pets/read(petId=${dto.petId})}&${link}|">
                        <div class="petThumbSlid" th:if="${dto.petImages != null && dto.petImages.size()>0}">
                            <img th:each="petImage: ${dto.petImages}" th:src="|/view/${petImage.uuid}_${petImage.fileName}|">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery1.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery2.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery3.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery4.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery5.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery6.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery7.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery8.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery9.jpg}">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="thumb img" th:href="@{/pet/read}">
                        <div class="petThumbSlide">
                            <img th:src="@{/images/test/gallery10.jpg}">
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="pagination">
            <ul>
                <li class="page-item active">
                    <a class="page-link">1</a>
                </li>
            </ul>
        </div>


        <!--페이징-->
<!--        <div class="pagination">-->
<!--            <ul>-->
<!--                <li class="page-item" th:if="${responseDTO.prev}">-->
<!--                    <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>-->
<!--                </li>-->
<!--                <th:blcok th:each="i:${#numbers.sequence(responseDTO.start,responseDTO.end)}">-->
<!--                    <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">-->
<!--                        <a class="page-link"-->
<!--                           th:data-num="${i}">[[${i}]]</a>-->
<!--                    </li>-->
<!--                </th:blcok>-->

<!--                <li class="page-item" th:if="${responseDTO.next}">-->
<!--                    <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
        <!--페이징-->
    </div>
</div>
<!-- content -->


<!-- javascript -->
<script layout:fragment="javascript" th:inline="javascript">
    document.getElementById("galleryListBtn").addEventListener("click", function() {
        window.location.href = "/gallery/list"; // 원하는 페이지로 변경
    });
    document.getElementById("petListBtn").addEventListener("click", function() {
        window.location.href = "/pets/list"; // 원하는 페이지로 변경
    });
</script>
<!-- javascript -->


</body>
</html>